{{!-- <footer class="clearfix">
	<div class="center">
		<dl>
			
			<dd class="copyright">
				<p>Copyright © 2015-2016 MoMoteks.com All Rights Reserved</p>
				<p><span>Designed & Developed by MoMoteks Inc</span></p>
				<p>Last Updated on 2016.06.02 </p>
			</dd>
		</dl>
	</div>
</footer> --}}

<footer>
	<p class="back-to-top  cd-top">
		Back to Top
	</p>	
	<div class="footer-info">
		{{!-- <div class="foot-logo">              
	        <a href="/"> DongShop</a>
	    </div> --}}
	    <dl>
	    	
	    	<dd class="copyright">
	    	    <p>Copyright © 2016-2017</p>
	    		<p>MoMoteks.com All Rights Reserved</p>
	    		<p><span>Designed & Developed by MoMoteks Inc</span></p>
	    		<p>Last Updated on 2017.06.02 </p>
	    	</dd>
	    </dl>
		{{!-- <p class="footer-info-dongdong">DongDong</p>
		<p class="footer-info-trading">T r a d i n g</p> --}}
	</div>
</footer>
		
		