<div class="content">
    <div class="row">		
		<div id="about_wrap">
			<div class="about">
				<h2>
					About us
				</h2>
				<p>
					&nbsp;
				</p>
				<p>
					<b>MoMoTeks Inc </b>is a technology - oriented web design & development company. We focus on enterprise website design, e-commerce website design,wechat app development. In the past few years, we have accumulated rich experiences in web design & development. Our goal is to provide clients a professional, comprehensive and customized web design service.
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					Company Business: We are specialized in web design and development as well as other related web business.
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					We offer both Chinese language and English language web content writing services.
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					Our designed and developed websites have good compatibility to global major web browsers, such as IE8, IE9, IE10, IE11, Firefox, Safari, Opera, Chrome.
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					All of the websites we designed are completely responsive. This means that they will automatically adjust to fit any size screen on any device. (Desktop, Labtop, Phone, Pad)
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					We hope to help you succeed, and we would like to grow up with you !!!
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					<strong>Service we offer:</strong>
				</p>
				<p>
					1. Enterprise website development. (Company Website)<br>
					2. E-commerce website development. (Online Store)<br>
					3. Responsive Web Design. (Mobile Website)<br>
					4. Company Wechat platform development.<br>
					5. Package Service.
				</p>
				
			</div>
		</div>
	</div>
</div>