<div class="content">
	<div class="row">
		<div id="faq_wrap">
			<div class="faq" id="headingSection">
				<p>
					<h2>
						Frequently Asked Questions (FAQ)
					</h2>
				</p>
				<p>
					&nbsp;
				</p>
				<a class="button expand" href="#">
					Expand
				</a>
			</div>
			<div id="faqSection">
				<!-- The FAQs are inserted here -->
				<dl>
					<dt>
						<!--第1个标题-->
						<span class="icon">
						</span> How much will it cost to make a website?
					</dt>
					<dd>
						<!--第1个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							The price to design a website really depend on various factors,just like the cost of a house may vary. It’s impossible to say in a couple sentences.
							<br>
							Please give us a quick phone call. We’ll ask you a few questions about the site you want, what kind of features the site will have, your graphic design needs, etc. Then we’ll be able to give you a firm quote.
							<br>
						</p>
					</dd>
					<dt>
						<!--第2个标题-->
						<span class="icon">
						</span> Why web design prices from different company are completely different?
					</dt>
					<dd>
						<!--第2个内容-->
						<p>
							<strong>Qestion:</strong> I (client) have already contacted 3 different web design companies, but the price are completely different. Why? I do not know how make a decision.
						</p>
						<br>
						<p>
							&nbsp;
						</p>
						<p>
							<strong>Answer:</strong>
							<br>
							There are 3 different types of service for website design and development：
							<br>
							1. Template website.
							<br>
							2. Low quality customized design website.
							<br>
							3. High quality customized design website.
						</p>
					</dd>
					<dt>
						<!--第3个标题-->
						<span class="icon">
						</span>Can you take over web project from other web design and development company?
					</dt>
					<dd>
						<!--第3个内容-->
						<p>
							<strong>Qestion:</strong> My website was made by another web design and development company. I am now not satisfied with the website I have. Can you take over the project that is from another company?
						</p>
						<br>
						<p>
							&nbsp;
						</p>
						<p>
							<strong>Answer:</strong>
							<br>
							It depends on the situation.
							<br>
							If you can provide us all the design source files and program source codes of your website, then normally we can take over it.
							<br>
							Otherwise without your website design source files and program source codes, we can not update your website. In this case, we suggest to redesign it.
							<br>
							If you can provide all soure files and source codes to us, then we will check the source files and source codes first. If the quality of source codes is very bad, we will suggest to redesign or rewrite it.
							<br>
						</p>
						<p>
							&nbsp;
						</p>
						<p>
							Sometimes a few clients asked us above question, we understand that the client meet trouble. Now here we remind that if you try to find a web design company to design your website, please make sure that you will get all design source files and program source codes after website is completed. Then it will be easy to update your website in the future.
							<br>
						</p>
					</dd>
					<dt>
						<!--第4个标题-->
						<span class="icon">
						</span>What is included in your 6 months free website maintenance?
					</dt>
					<dd>
						<!--第4个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							After we signed the web design contract with our clients, we offer 6 months free website maintenance service. The service includes 2 main aspects :
						</p>
						<br>
						<p>
							&nbsp;
						</p>
						<p>
							<strong>A. Design</strong>
							<br>
							1. All web pages compatible problems to main web browsers (IE6,IE7,Ie8,Firefox,Opera,Safari),
							<br>
							2. Texts updates,
							<br>
							3. Part of same size picture replacement on web pages,
							<br>
							4. Links of texts or pictures updates.
							<br>
						</p>
						<p>
							&nbsp;
						</p>
						<p>
							<strong>A. Program</strong>
							<br>
							1. All program bugs fix,
							<br>
							2. A few database fields add/update/delete. (Such as adding a "User Mobile Phone" data field in database.)
							<br>
							3. The output texts/pictures of program updates. (Such as program output message texts.)
							<br>
							4. The deleted/removed program functions that clients request won't affect other program functions on website.
							<br>
						</p>
					</dd>
					<dt>
						<!--第5个标题-->
						<span class="icon">
						</span>How long will you take to develop a website?
					</dt>
					<dd>
						<!--第5个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							The total design and development time really depends on how complicated your website is, the more complicated website, the more time we need. A simple website could be completed in 2 weeks, however, a complicated website could take us more than 6 months to finish. We can give you an estimated timeline for your project, and if you need to have your site completed faster, let us know.
						</p>
						<p>
							&nbsp;
						</p>
						<p>
							A common delay for web design, is the design confirmation from our client. During the different steps of web design & development process, we need our client to confirm some key steps then we can move forward to next steps. If our client is busy and can not confirm key steps on time, then it may delay the website design process.
						</p>
						</p>
					</dd>
					<dt>
						<!--第6个标题-->
						<span class="icon">
						</span>To start develop a new website, what kind of website materials I need to provide?
					</dt>
					<dd>
						<!--第6个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							1. Your software requirements specification. If you do not have one, please let us know, we will send one to you. Then fill it out and send it back to us.
							<br>
							2. Your company logo. If you do not have one, we can design a new company logo for you, but our designer need your own idea/instruction for new logo. Such as main colors. If you already have a perfect VI system, then please send it to us.
							<br>
							3. Your company brochure, printed brochure is fine. It can help our designer to make a harmonious web design with your company VI (logo, brochure).
							<br>
							4. Your company introduction texts or pictures.
							<br>
							5. What are your favourite colors for website? what are your favourite sample websites?
							<br>
							These above 5 points are important instruction to let our designer to design a website that meet your own requirements.
							<br>
						</p>
					</dd>
					<dt>
						<!--第7个标题-->
						<span class="icon">
						</span>How does the payment process work?
					</dt>
					<dd>
						<!--第7个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							The project starts with a 50% deposit. After our clients comfirm the front end design and before we move into programming, we collect another 25%. Once we have completed and fulfilled our scope, the final 25% is collected and your website is then scheduled for launch.
						</p>
					</dd>
					<dt>
						<!--第8个标题-->
						<span class="icon">
						</span>Do I own my website?
					</dt>
					<dd>
						<!--第8个内容-->
						<p>
							<strong>Answer:</strong>
							<br>
							YES! Everything that we build will be 100% owned by you.
						</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
