<div class="content">
    <div class="row">
		<div id="works_wrap">			
			<div class="sample">
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/restrant_s.jpg"/>
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-1">
							</div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Restrant Industry
						</p>
						<p>
							Cross-platform in product designning
						</p>
						<!--<p>
							<button type="button" id="ClickMe" class="btn">
								contact
							</button>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/ice_2.jpg" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-2">
							</div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Food Industry
						</p>
						<p>
							Professional Team, High Efficiency
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/fitness_s.jpg" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-3">
							</div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Fitness Industry
						</p>
						<p>
							Combination of Techniques and Arts
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/real_s.jpg" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-4">
							</div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Real Estate Industry
						</p>
						<p>
							Providing Package Service
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/weding_s.png" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-5">
							</div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Wedding Service Industry
						</p>
						<p>
							Customized Design, Quality Guaranteed 
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/spa_s.png" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-6"></div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Spa Service Industry
						</p>
						<p>
							Bring revenue to you.
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/HENGDA_S.png" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-7"></div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Media Service Industry
						</p>
						<p>
							Free Support
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/ls_S.png" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-8"></div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Legal Service Industry
						</p>
						<p>
							Detailed Analysis of Project
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
				<dl>
					<dt class="thumbnail third-effect">
						<img src="images/samples/BEMAY_S.png" />
						<div class="mask">
							<div  class="imageButton" data-cta-target=".js-modal-9"></div>
						</div>
					</dt>
					<dd class="thumbnail_brif">
						<p>
							Decoration Service Industry
						</p>
						<p>
							High Quality Customized Design
						</p>
						<!--<p class="button">
							<a href="#" class="btn">
								contact
							</a>
						</p>-->
						<a href="contact.php" class="btn-portfolio">contact</a>
					</dd>
				</dl>
			</div>
			<!--popup-->
			<div class="js-modal-1  modal  modal--1">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Restrant Website Design
						</p>
						<p>
							Dispaly with HD picture, full features of menu display.
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/restrant.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			<div class="js-modal-2  modal  modal--2">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Food Industry Website Design
						</p>
						<p>
							This sleek and aesthetically pleasing compact design covers all your beauty needs.
							
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/ice.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			<div class="js-modal-3  modal  modal--3">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Fitness Industry Website Design
						</p>
						<p>
							 Modern and fashion design style.
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/fitness.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			
			<div class="js-modal-4  modal  modal--4">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Real Estate Industry Website Design
						</p>
						<p>
							Adopted classic and upscale tones.
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/ronado.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			
			<div class="js-modal-5  modal  modal--5">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Wedding Service Website Design
						</p>
						<p>
							 The overall effect is enchanting.
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/weding.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn btn_detail modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			
			<div class="js-modal-6  modal  modal--6">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Spa Service Website Design
						</p>
						<p>
							Fresh and elegant design style, comfortable choice of colors
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/ice.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
						close
					</a>
				</div>
			</div>
			
			<div class="js-modal-7  modal  modal--7">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Media Service Website Design
						</p>
						<p>
							Fresh and elegant design style, comfortable choice of colors
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/ice.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			<div class="js-modal-8  modal  modal--8">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Legal Service Website Design
						</p>
						<p>
							Professional and simple design style
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/ls.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
							close
						</a>
				</div>
			</div>
			<div class="js-modal-9  modal  modal--9">
				<span class="modal-close-btn modal-close-btn-click">
				</span>
				<div class="quote-box">
					<div class="goodtxt">
						<p>
							Decoration Service Website Design
						</p>
						<p>
							Adopted classic and upscale tones.
						</p>
						<p>
							Share with your friends !
						</p>
					</div>
					<div class="popUp-img">
						<img id="ewmsrc"  src="images/BEMAY.png"/>
					</div>
					<div class="bottomtxt">
						<p>
							If you want a website like this ...
						</p>
						<p>
							Call: 917-667-5821 (Mon-Fri  9:30am-5pm)
						</p>
						<p>
							Email: liudong12b@gmail.com
						</p>
						<p>
							We will contact you as soon as possible.
						</p>
					</div>
					<!--<p class="close_button">
						<a href="javascript:void(0)" class="btn modal-close-btn-click" >
							close
						</a>
					</p>-->
					<a href="javascript:void(0)" class="btn-portfolio btn_detail modal-close-btn-click" >
						close
					</a>
				</div>
			</div>
		</div>
	</div>
</div>