<div class="content">
	<div class="row">
		<div id="process_wrap">
			<div class="process">
				<p>
					<h2>Our Workflow</h2>
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					The design/development workflow is the entire process from the earlier stage of data colletion, to the middle stage of website development, to the final stage of website maintenance. 
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					There are following major steps:
					<br />
					&nbsp;
				</p>
				<table class="step1">
					<tr>
						<th width="150px">Steps</th>
						<th width="350px">Our works </th>
						<th width="500px">Works that need your assistance</th>
					</tr>
					<tr>
						<td><strong>Step 1 </strong><br>Project Coordinator</td>
						<td>Negotiating with customers by phone/ email.
						</td>
						<td>1.Company briefing, columns description, basic features demands & basic design demands<br>
							2.What type website do you need? Company website or online store?<br>
							3.What is your industry? What kind of product or service? Are you a company, factory or dealer?<br>
							4.Special requirements: special features for your website, for example: membership or blog.
						</td>

					</tr>
					<tr>
						<td><strong>Step 2 </strong><br>Project Coordinator</td>
						<td>Analysis the demand of clients and collect the  "Website design requirements specification".
						</td>
						<td>
							Fill out our "Website design requirements specification", or provide us a similar one.
						</td>

					</tr>
					<tr>
						<td><strong>Step 3 </strong><br>Project Coordinator</td>
						<td>Provide client a preliminary project plan, price quotations and negotiate with client.
						</td>
						<td>Negotiate with our Project Coordinator, and clarify the details of the website.
						</td>

					</tr>
					<tr>
						<td><strong>Step 4 </strong><br>Project Coordinator</td>
						<td>Clarify the detailed proposal, project timeline and sign a contract.
						</td>
						<td>Sign a contract and make payment.
						</td>

					</tr>
					<tr>
						<td><strong>Step 5</strong> <br>Project Coordinator</td>
						<td>Launch the project, send clients a list of the information that need to provide to us.
						</td>
						<td>Provide all the information we need.<br>
							(Anything that you want to present to the world on your website)

						</td>

					</tr>
					<tr>
						<td><strong>Step 6 </strong><br>Designer</td>
						<td>Design the home page, and modify it if needed.
						</td>
						<td>Client comfirm the design of the home page. Sign the comfirmation letter.
						</td>

					</tr>
					<tr>
						<td><strong>Step 7 </strong><br>Designer</td>
						<td>Design the content page, and modify it if needed.
						</td>
						<td>Client comfirm the design of the content page. Sign the comfirmation letter.
						</td>

					</tr>
					<tr>
						<td><strong>Step 8 </strong><br>HTML maker <br>Project Coordinator</td>
						<td>Change the psd design draft to html page.  <br>
							Test the browser compatibility.<br>
							Test it in 2 steps:<br>

							1. Tested by html maker. <br>
							2. Tested by Project Coordinator.
						</td>
						<td>No need to comfirm by client. (The html pages will be identical to psd design draft)
						</td>

					</tr>
					<tr>
						<td><strong>Step 9 </strong><br>Programmer</td>
						<td>Intergrate program features in the system.
						</td>
						<td>Comfirm some program features in the system, and keep in touch.
						</td>

					</tr>
					<tr>
						<td><strong>Step 10 </strong><br>Programmer <br>Project Coordinator</td>
						<td>After the  integration of font end and back end, upload it to a temporary url for testing.<br>
							Test it in 3 steps:<br>
							1. Tested by programmer<br>
							2. Tested by Project Coordinator<br>
							3. Finally, tested by client
						</td>
						<td>After testing by client, client can send suggested corrections of it. (Note: suggested corrections can not beyond the contract )
						</td>

					</tr>
					<tr>
						<td><strong>Step 11 </strong><br>Project Coordinator<br>Designer<br>Programmer</td>
						<td>Modify and adjust according to customer's feedback. Retest and remodify.
						</td>
						<td>Tested by client, comfirm.
						</td>

					</tr>
					<tr>
						<td><strong>Step 12 </strong><br>Project Coordinator</td>
						<td>Final comfirmation.
						</td>
						<td>Customer acceptance, Payment tail.
						</td>

					</tr>
					<tr>
						<td><strong>Step 13 </strong><br>Designer<br>Programmer</td>
						<td>Publish the website, launch the website maintenance.
						</td>
						<td>Offer minor changes based on the scope of the contract.
						</td>




					</tr>
				</table>

				<br />
				<p>For more detailed Workflow, please contact us !</p>
				<br />
				<br />
							<!--<p><strong>附：网站建设流程图</strong>：</p>
						</p>
						<p>
							&nbsp;
						</p>
						<p style="text-align: center;">
							<img alt="网站建设设计制作流程图" src="/uploads/allimg/141119/1-141119144P95F.jpg" style="width: 754px; height: 898px;" />
						</p>
						<p>
							&nbsp;
						</p>
						<p>
							&nbsp;
						</p>
						<div style="text-align: center;">
							<img alt="网站制作流程图" src="http://www.dumweb.com/uploads/allimg/140619/1-140619153619256.gif" style="width: 750px; height: 96px;" />
						</div>-->
			</div>
		</div>

		{{!-- 移动端表格 --}}
		<div id="process_wrap_mobile">
			<div class="process">
				<p>
					<h2>Our Workflow</h2>
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					Please visit this page with desktop computer.
				</p>				
			</div>
		</div>
	</div>
</div>